﻿html
{
    width: 100%;
    height: 100% !important;
    background-color: #5db0ff;
    background-image: -webkit-radial-gradient(top center, #5db0ff, #004c78);
    background-image: -moz-radial-gradient(top center, #5db0ff, #004c78);
    background-image: -ms-radial-gradient(top center, #5db0ff, #004c78);
    background-image: -o-radial-gradient(top center, #5db0ff, #004c78);
    background-image: radial-gradient(top center, #5db0ff, #004c78);
}

*
{
    outline: none;
}

#content-wrapper
{
    width: 100%;
    text-align: center;
}

    #content-wrapper #content
    {
        margin-top: 20%;
    }

        #content-wrapper #content .large-ass-textbox
        {
            width: 50%;
            height: 50px;
            border-radius: 10px;
            border: none;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            text-align: center;
            font-family: 'Adobe Garamond Pro';
            font-size: 2.0em;
            color: #555;
            background-color: #FCFCFC;
        }

            #content-wrapper #content .large-ass-textbox:focus
            {
                box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
                background-color: #FFF;
                color: #777;
            }
#loader-wrapper
{
    display:none;
    width:128px;
    height:128px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-64px;
    margin-left:-64px;
   
}
        #content-wrapper #content .large-ass-button
        {
            margin-top: 20px;
            padding: 10px 40px 8px 40px;
            border-radius: 10px;
            border: none;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            text-align: center;
            color: #666;
            font-family: 'Adobe Garamond Pro';
            /*font-style:italic;*/
            font-size: 1.5em;
            text-shadow: 1px 1px #FCFCFC;
            background-color: #07650c;
            background-image: linear-gradient(top,#FEFEFE,#CCC);
            background-image: -webkit-linear-gradient(top,#FEFEFE,#CCC);
        }
        #content-wrapper #content .crawl
        {
            right:5%;
            top:12px;
            margin:0px !important;
            display:none;
            position:absolute;
        }
        #content-wrapper #content .new
        {
            left:5%;
            top:12px;
            margin:0px !important;
            display:none;
            position:absolute;
        }
            #content-wrapper #content .large-ass-button:active
            {
                box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
                color: #555;
                background-color: #7d0000;
                background-image: linear-gradient(top,#CCC,#fefefe);
                background-image: -webkit-linear-gradient(top,#CCC,#fefefe);
            }

#result-info-container
{
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
    margin: 20px auto;
    width: 90%;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5) inset;
    font-family: 'Segoe UI';
    color: #f0f0f0;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

    #result-info-container table
    {
        background-color: #FCFCFC;
        width: 100%;
        border: 1px solid #555;
    }

    #result-info-container #table-container
    {
        margin: 10px auto;
        width: 90%;
        height: 90%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

        #result-info-container #table-container table thead
        {
            background-color: #555;
            background-image: -webkit-linear-gradient(top,#555,#333);
            color: #EEE !important;
            text-shadow: 1px 1px #222;
        }

            #result-info-container #table-container table thead td
            {
                border: none !important;
            }

        #result-info-container #table-container table tbody tr td
        {
            border-top: 1px solid #555;
            border-left: 1px solid #555;
            width: 33%;
            color: #333;
            text-shadow: none;
            font-size: 14px;
        }

.progress-info
{
    margin: 0px auto;
}

.pending
{
    background: transparent url(30.gif) no-repeat center center;
    height: 10px;
    width: 80px;
}

.error
{
    color: #f32a2a !important;
    text-shadow: 1px 1px rgba(255,255,255,0.3);
    background-color: #ffabab;
}

.success
{
    color: #07a000 !important;
    text-shadow: 1px 1px rgba(255,255,255,0.3);
    background-color: #d9ffae;
}

.waiting
{
    color: #ff853e !important;
    text-shadow: 1px 1px rgba(255,255,255,0.3);
    background-color: #ffdcb7;
}

#result-info-container h3
{
    font-weight: normal;
    font-size: 15px;
    padding: 0px;
    margin: 0px 5% 0px 0px;
    text-align: right;
}

#result-info-container h1
{
    font-family: 'Adobe Garamond Pro';
    font-weight: normal;
    font-size: 36px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
