﻿@{
    Layout = null;
    var hello = new object();
}

<!DOCTYPE html>

<html>
<head>


    <meta name="viewport" content="width=device-width" />
    <title>Mobile API v1</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/mobile-api.css" rel="stylesheet" />
    <link href="~/Content/loader.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.3.js"></script>
</head>
<body>
    <div id="content-wrapper">

        <div id="content">
            <input type="button" class="large-ass-button new"
                value="Start New" />
            <input type="text" class="large-ass-textbox" name="URL" /><input type="button" class="large-ass-button crawl"
                value="Crawl" /><br />
            <input type="button" class="large-ass-button" value="Start Shitting!" />
        </div>


    </div>

    <div id="loader-wrapper">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall">
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">

        var System = {
            InputButton: $('input[value="Start Shitting!"]'),
            InputTextbox: $('input[class=large-ass-textbox]'),
            ContentContainer: $('#content-wrapper #content'),
            TotalTimeContainer: $('#total-time span'),
            TotalMobilesContainer: $('#total-mobiles span'),
            Table: $('#result-info-container table'),
            TableContainer: $('#result-info-container'),
            CrawlButton: $('input.crawl'),
            NewButton: $('input.new'),
            LoadWrapper:$('#loader-wrapper')
        };

        var MaxHeightAvailable = parseInt(window.outerHeight, 10) - System.ContentContainer.outerHeight() - 50;
        var resultMarkup = '<div id="result-info-container"> <h3 id="total-mobiles">Total Mobile Fetched:<span></span></h3> <h3 id="total-time">Total Time Elapsed: <span></span></h3> <div id="table-container"> <table> <thead> <tr> <td>Mobile Name</td> <td>URL</td> <td>Progress</td></tr> </thead> </table> </div> </div>';

        function setMaxHeight() {

            $('#result-info-container').css({ 'height': MaxHeightAvailable + 'px' });

        }
        function Result(oLinks, oNames, oTime) {

            this.Links = $.makeArray(oLinks);
            this.Names = $.makeArray(oNames);
            this.Time = oTime;

            this.Count = (this.Links.length > this.Names.length)
                ? this.Links.length : this.Names.length;
        }

        System.InputButton.click(function () {
            var regURL = /^www.gsmarena.com\/[a-z-_\d]+.php$/g;
            if (regURL.test(System.InputTextbox.val())) {
                $('input').attr('disabled', 'disabled');
                $(this).fadeOut(500, function () {
                    System.ContentContainer.stop().animate({ 'margin-top': '10px' }, 500, 'linear', function () { System.LoadWrapper.fadeIn(); });
                });
                
                $.post('@Url.Action("StartScraping")',
                    { URL: System.InputTextbox.val().split('/')[1].toString() },
                    function (data) {
                        var d = $.parseJSON(data);
                        var obj = new Result(d.MobileLinks, d.MobileNames, d.TimeElapsed);

                        System.ContentContainer.append(resultMarkup);
                        setMaxHeight();

                        for (var i = 0; i < obj.Count; i++) {

                            var oTdLeft = $('<td />');
                            var oTdRight = $('<td />');
                            var oTdProgress = $('<td />');
                            var oDivProgress = $('<div />');
                            oTdLeft.text(obj.Names[i]);
                            oTdRight.text(obj.Links[i]);
                            oDivProgress
                                .addClass('progress-info')
                                .addClass('waiting')
                                .text('Pending')
                                .appendTo(oTdProgress);


                            $('#total-time span').text(obj.Time);
                            $('#total-mobiles span').text(obj.Count);
                            $('<tr />')
                                .append(oTdLeft)
                                .append(oTdRight)
                                .append(oTdProgress)
                                .appendTo($('#result-info-container table'));
                        }
                        System.LoadWrapper.fadeOut();
                        System.CrawlButton.fadeIn().removeAttr('disabled');
                        $('#result-info-container').fadeIn();
                    });

            } else {
                alert("Invalid Url");
            }
        });

        System.CrawlButton.click(function () {
            $(this).attr('disabled', 'disabled').fadeOut();
            System.NewButton.fadeIn().removeAttr('disabled');
            CallingServerMethod();
        });

        System.NewButton.click(function () {
            $(this).fadeOut();
            System.CrawlButton.fadeOut();
            $('#result-info-container').fadeOut(1000, function () {
                $('input').removeAttr('disabled');
                System.ContentContainer.stop().animate({ 'margin-top': '20%' }, 500, 'linear', function () {
                    System.InputButton.fadeIn();
                });
                $('#result-info-container').remove();
            })

        });
        function GetDate() {
            $.ajax({
                url: '@Url.Action("HelloWorld")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8;',
                    success: function (d) {
                        $('#dateDiv').text(d);
                    }
                });

            }
            function InsertMobile(Name, Url, Element) {

                var oProgress = $(Element).find('div');
                oProgress.removeClass('waiting').text('').addClass('pending');
                $.ajax({
                    url: '@Url.Action("Insert")',
                    type: "POST",
                    dataType: "text",
                    data: '{Name:"' + Name + '",URL:"' + Url + '"}',
                    contentType: 'application/json; charset=utf-8;',
                    success: function (d) {
                        console.log(d);
                        if (d === "True") {
                            oProgress
                                .removeClass('pending')
                                .text('Success')
                                .addClass('success');
                        }
                        else {
                            oProgress
                                    .removeClass('pending')
                                    .text('Error')
                                    .addClass('error');
                        }
                    }
                });
            }

            function CallingServerMethod() {
                var oRows = $('#result-info-container #table-container table tbody tr');
                console.log(oRows);
                $.each(oRows, function (index, value) {

                    var oColumns = $(this).find('td');

                    var name = oColumns.get(0).innerText;
                    var url = oColumns.get(1).innerText;

                    InsertMobile(name, url, oColumns.get(2));
                });
            }
    </script>
</body>
</html>
